/* coolors.co colour palette link
https://coolors.co/355070-6d597a-b56576-e56b6f-eaac8b
#355070 - Midnight Blue
#6d597a - Chinese Violet
#b56576 - Rose Dust
#e56b6f - Candy Pink
#eaac8b - Tumbleweed
 */

body {
  background-color: #355070;
  margin: 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  box-sizing: content-box;
}

.container {
  background-color: #b56576;
  width: 90vw;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.navbar {
  background-color: #6d597a;
  width: 90vw;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
}

.isflex {
  display: flex;
  justify-content: space-between;
}

.isflex-center {
  display: flex;
  justify-content: left;
}

.nav-item {
  padding: 0.25rem 0.5rem;
  background-color: #e56b6f;
  margin: 0.15rem;
  border-radius: 0.5rem;
}

.level {
  margin: 1rem auto;
}

.graph {
  width: 95%;
  /* background-color: honeydew; */
  align-items: center;
}

.chart-img {
  width: 80%;
  padding: 5rem 2rem;
}

.btn {
  border: none;
  width: 10rem;
  padding: .5rem;
  margin: .25rem;
  border-radius: .5rem;
  background-color: #6d597a;
  color: whitesmoke;
}

.btn:hover {
  background-color: #355070;
}
